html {
    font-family: 'Kalam', cursive;
}

header {
    height:100px
}

body {
    background: linear-gradient(#45635B ,#202f33 70%);
}

.reais:before {
    content: "R$ "
}
.reais:after {
    content: ",00";
}

h1,h2,h3,
h4,h5,h6,
summary, .botao {
    font-family: 'Bruno Ace SC', cursive;
}

.perfilInvest {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.areaStorage {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 20px;
}
.secaoCadastrada {
    width: 35%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#202f33 , #45635b);
    border-radius: 10px;
    padding: 0 10px 0 10px;
    color: #FFFFFF;
}

.listaCadastrada {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
    padding: 5px 8px;
}

.itemCadastrado {
    display: flex;
    background: #45635b;
    border: #71783c 0.2px solid;
    border-radius: 30px;
    padding: 5px 8px;
    justify-content: space-between;
    box-shadow: #71783c 5px 2px 9px;
}

.areaResultados {
    width: calc(70% + 1rem);
    
}

.resultados {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding-inline-start: 0;
}

.itemResultado:nth-child(2){
    background: #2C4248;
}

.itemResultado {
    justify-content: flex-start;
    display: flex;
    justify-content: space-between;
    background: #45635B;
    width: 100%;
    padding: 5px 8px;
    color: #FFFFFF;
    border-radius: 30px;
    font-size: calc(1rem + (1rem/8))
}

.botao {
    background: #71783c;
    color:#FFFFFF;
    font-weight: bold;
    border-radius: 30px;
    padding: 5px 8px;
    border: none;
    width: 50%;
    margin: 10px 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #202f33;
    color: #FFFFFF;
    height: 100px;   
    width: 100%;
}
